body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.0vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    text-shadow: 
    1px 1px 0px black,  /* Bottom-right shadow*/
    -1px 1px 0px black, /* Bottom-left shadow*/
    1px -1px 0px black, /* Top-right shadow*/
    -1px -1px 0px black; /* Top-left shadow*/
    margin-left: 15%;
}

ul {
    margin: 10px;
}

body > header {
    background-color: orange;
    color: #fbfbfb;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 12%;
}

body > main article {
    width: 70%;     /*  Width of the text from the side */
    margin: auto;       /* Automatically creates a margin */
}

#main-content {
    display: flex; 
    justify-content: space-around;  
}

#main-content div {
    width: 80%;
}

form {
    text-align: center; /* centers the form buttons and stuff */
}

h2 {
    text-align: center;
}

body > footer {
    background-color: orange;
    display: flex;
}

img {
    border-radius: 35%;
}

#footer-ul {
    display: flex;
    list-style: none;   /* removes black bullet points */

}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}